
.root{
    -fx-background: #8f6a61;   
}

.label{-fx-text-fill: #213f57;}

.button{
	-fx-focus-color: transparent;
	-fx-background-insets: 0, 0, 1, 2;
	-fx-background-color: transparent;
}
.button:hover{
	-fx-background-color: #D8FBF8;
}
.button:pressed{
	-fx-background-color: #93f4ec;
}

.text-field{
	-fx-background-color: #664b44;
	-fx-text-fill: #fbe6b7;
}

.table-view{
	-fx-background: #5a423c;
   -fx-background-color:#3f2f2a;
-fx-text-fill: white;
-fx-table-cell-border-color: #162b3c;
}
.table-view .filler{
	-fx-background-color: #fe4c58;
}

.table-view .column-header{
    -fx-background-color: #fe4c58;
    -fx-border-color:  #d83f49;
    
}

.table-view .column-header .label{
    -fx-text-fill: #fbe6b7;
    -fx-font-weight: bold;
}
/* The main scrollbar CSS class of ListView */
.table-view .scroll-bar:horizontal ,
.table-view  .scroll-bar:vertical{
    -fx-background-color:black;

}

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:#213f57;
	-fx-border-color:#162b3c;
}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track ,
.table-view .scroll-bar:vertical .track{
     -fx-background-color: #213f57;
	 -fx-border-color:#162b3c;
	 -fx-background-radius: 0em;
}
/*
 * sand #fbe6b7
 * pink #fe4c58
 * blue #213f57
 */

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:#fe4c58;
    -fx-border-color:black;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;

}
.scroll-pane > .viewport  { 
	-fx-background-color: black;
}    



.table-row-cell{
	-fx-background-color: #213f57;
	-fx-text-background-color: #fbe6b7;
}
.table-row-cell:focused{
	-fx-background: black;
	-fx-border-style: solid;
  -fx-border-color: white;
	-fx-text-fill: white;
}
/* Selected row */
.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: #db404b;
    -fx-background: -fx-accent;
    -fx-text-fill: white;
}


/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #b53c46;

    -fx-text-fill: white;
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-text-fill: white;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: #96404b;

    -fx-background: -fx-accent;
    -fx-text-fill: white;
}

.jfx-slider  > .thumb{
	-fx-stroke: #fe4c58;
	-fx-stroke-width: 5.0;
}
.jfx-slider > .track{
	-fx-stroke: #213f57;
}

.button:hover {
	-fx-background-color: #B19790;
   -fx-background-insets: -1.4, 0, 1, 2;

}

.table-row-cell:empty             { -fx-background-color: #162b3c;}
.table-row-cell:empty .table-cell { -fx-border-width: 0.0px;}
